/* To use, copy the content of this into src/global.css */

:root, [data-theme="booker"] {
    --surface-colour-page: #faf9f5;
    --surface-colour-positive-light: #e6f9e6;
    --surface-colour-disabled-dark: #f5f4f0;
    --surface-colour-error: #dc3545;
    --surface-colour-warning: #ff9500;
    --surface-colour-highlight: #1f1e19;
    --surface-colour-action-primary: #1fceb5;
    --surface-colour-action-inverse: #ffffff;
    --surface-colour-action-hover-primary: #000000;
    --surface-colour-action-selected: #ece8e1;
    --surface-colour-action-secondary: #000000;
    --surface-colour-action-hover-secondary: #1fceb5;
    --surface-colour-action-inverse-darker: #f5f4f0;
    --surface-colour-accent: #ece8e1;
    --surface-colour-theme-primary: #fc4c02;
    --surface-colour-secondary: #ffffff;
    --surface-colour-hover: #0c0c0d0d;
    --surface-colour-disabled-light: #ffffff33;
    --surface-colour-theme-aaa: #aa2700;
    --surface-colour-theme-aa: #dd3300;
    --surface-colour-theme-accent: #fff0eb;
    --surface-colour-passive: #f5f4f0;
    --surface-colour-passive-2: #ebeae6;
    --surface-colour-overlay-background: #00000066;
    --surface-colour-accent-2: #f2fdfb;
    --surface-colour-offer: #ffe500;
    --surface-colour-accent-3: #ffe6df;
    --surface-colour-information: #dee6ed;
    --surface-colour-offer-hover: #fdcf00;
    --surface-colour-error-light: #fce8e8;
    --surface-colour-warning-light: #fff4e5;
    --surface-colour-information-light: #507594;
    --surface-colour-positive: #28a745;
    --surface-colour-passive-3: #d1cfc7;
    --surface-colour-tag-light: #ffe6df;
    --surface-colour-tag-dark: #fc4c02;
    --surface-colour-theme-secondary: #fc4c02;
    --surface-theme-logo: booker;
    --text-colour-headings: #000000;
    --text-colour-body: #000000;
    --text-colour-success: #28a745;
    --text-colour-disabled: #949494;
    --text-colour-error: #9e1f28;
    --text-colour-action-active: #000000;
    --text-colour-action-inverse: #ffffff;
    --text-colour-action-selected: #fc4c02;
    --text-colour-action-disabled: #00000066;
    --text-colour-action-onprimary: #000000;
    --text-colour-action-onsecondary: #ffffff;
    --text-colour-action-ontertiary: #000000;
    --text-colour-warning: #ff9500;
    --text-colour-information: #dee6ed;
    --text-colour-passive: #767676;
    --text-colour-inverse: #ffffff;
    --text-colour-theme: #fc4c02;
    --text-colour-theme-aaa: #aa2700;
    --text-colour-available: #127869;
    --icon-colour-primary: #000000;
    --icon-colour-action-active: #000000;
    --icon-colour-action-selected: #fc4c02;
    --icon-colour-action-inverse: #ffffff;
    --icon-colour-action-disabled: #00000033;
    --icon-colour-action-highlight: #1fceb5;
    --icon-colour-action-onprimary: #000000;
    --icon-colour-action-onsecondary: #ffffff;
    --icon-colour-action-ontertiary: #000000;
    --icon-colour-positive: #28a745;
    --icon-colour-error: #9e1f28;
    --icon-colour-warning: #ff9500;
    --icon-colour-information: #507594;
    --border-colour-primary: #000000;
    --border-colour-selected: #fc4c02;
    --border-colour-action-on-primary: #ffffff0d;
    --border-colour-action-on-page: #ece8e1;
    --border-colour-action-active: #fc4c02;
    --border-colour-disabled: #00000033;
    --border-colour-positive: #28a745;
    --border-colour-error: #9e1f28;
    --border-colour-warning: #ff9500;
    --border-colour-highlight: #e6f9e6;
    --border-colour-inverse: #ffffff;
    --border-colour-passive: #d1cfc7;
    --border-colour-secondary: #00000033;
    --border-colour-information: #507594;
    --border-colour-error-passive: #ffd0c2;
    --border-width-none: 0px;
    --border-width-sm: 1px;
    --border-width-md: 1.5px;
    --border-width-lg: 2px;
    --border-width-xs: 0.5px;
    --border-width-xl: 4px;
    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 40px;
    --border-radius-none: 0px;
    --border-radius-round: 120px;
    --border-radius-lg: 12px;
    --font-font-family-headings: "Inter", system-ui, sans-serif;
    --font-font-family-paragraph: "Inter", system-ui, sans-serif;
    --font-font-family-sub-headings: "Inter", system-ui, sans-serif;
    --font-font-weight-header-light: 300;
    --font-font-weight-header-regular: 400;
    --font-font-weight-header-medium: 500;
    --font-font-weight-header-semi-bold: 600;
    --font-font-weight-header-bold: 700;
    --font-font-weight-header-extra-bold: 800;
    --font-font-weight-paragraph-light: 300;
    --font-font-weight-paragraph-regular: 400;
    --font-font-weight-paragraph-medium: 500;
    --font-font-weight-paragraph-semi-bold: 600;
    --font-font-weight-paragraph-bold: 700;
    --font-font-weight-paragraph-extra-bold: 800;
}
[data-theme="venus"] {
    --surface-colour-page: #f5f5f5;
    --surface-colour-positive-light: #e6f9e6;
    --surface-colour-disabled-dark: #ebeae8;
    --surface-colour-error: #dc3545;
    --surface-colour-warning: #dc3545;
    --surface-colour-highlight: #313131;
    --surface-colour-action-primary: #901438;
    --surface-colour-action-inverse: #ebeae8;
    --surface-colour-action-hover-primary: #000000;
    --surface-colour-action-selected: #f7f6f4;
    --surface-colour-action-secondary: #570d1c;
    --surface-colour-action-hover-secondary: #901438;
    --surface-colour-action-inverse-darker: #ebeae8;
    --surface-colour-action-hover-inverse: #000000;
    --surface-colour-accent: #f7f6f4;
    --surface-colour-theme-primary: #901438;
    --surface-colour-secondary: #ffffff;
    --surface-colour-hover: #0c0c0d0d;
    --surface-colour-disabled-light: #ffffff33;
    --surface-colour-theme-aaa: #480a1c;
    --surface-colour-theme-aa: #73102d;
    --surface-colour-theme-accent: #f9f3f5;
    --surface-colour-passive: #ebeae8;
    --surface-colour-passive-2: #dedddc;
    --surface-colour-overlay-background: #00000066;
    --surface-colour-accent-2: #fffaff;
    --surface-colour-offer: #fbcfff;
    --surface-colour-accent-3: #e9d0d7;
    --surface-colour-information: #c0d6ff;
    --surface-colour-offer-hover: #fabbff;
    --surface-colour-error-light: #fce8e8;
    --surface-colour-warning-light: #f29393;
    --surface-colour-information-light: #507594;
    --surface-colour-positive: #5fda5f;
    --surface-colour-passive-3: #adacab;
    --surface-colour-tag-light: #ffffff;
    --surface-colour-tag-dark: #fc4c02;
    --surface-colour-theme-secondary: #901438;
    --surface-theme-logo: venus;
    --text-colour-headings: #000000;
    --text-colour-body: #000000;
    --text-colour-success: #5fda5f;
    --text-colour-disabled: #949494;
    --text-colour-error: #c32733;
    --text-colour-action-active: #000000;
    --text-colour-action-inverse: #ffffff;
    --text-colour-action-selected: #901438;
    --text-colour-action-disabled: #00000066;
    --text-colour-action-onprimary: #ffffff;
    --text-colour-action-onsecondary: #ffffff;
    --text-colour-action-ontertiary: #000000;
    --text-colour-warning: #dc3545;
    --text-colour-information: #c0d6ff;
    --text-colour-passive: #767676;
    --text-colour-inverse: #ffffff;
    --text-colour-theme: #901438;
    --text-colour-theme-aaa: #480a1c;
    --text-colour-available: #19692c;
    --icon-colour-primary: #000000;
    --icon-colour-action-active: #000000;
    --icon-colour-action-selected: #901438;
    --icon-colour-action-inverse: #ffffff;
    --icon-colour-action-disabled: #00000033;
    --icon-colour-action-highlight: #f89eff;
    --icon-colour-action-onprimary: #ffffff;
    --icon-colour-action-onsecondary: #ffffff;
    --icon-colour-action-ontertiary: #000000;
    --icon-colour-positive: #5fda5f;
    --icon-colour-error: #c32733;
    --icon-colour-warning: #dc3545;
    --icon-colour-information: #507594;
    --border-colour-primary: #000000;
    --border-colour-selected: #901438;
    --border-colour-action-on-primary: #ffffff0d;
    --border-colour-action-on-page: #f7f6f4;
    --border-colour-action-active: #901438;
    --border-colour-disabled: #00000033;
    --border-colour-positive: #5fda5f;
    --border-colour-error: #c32733;
    --border-colour-warning: #dc3545;
    --border-colour-highlight: #e6f9e6;
    --border-colour-inverse: #ffffff;
    --border-colour-passive: #adacab;
    --border-colour-secondary: #00000033;
    --border-colour-information: #507594;
    --border-colour-error-passive: #d3a1af;
    --border-width-none: 0px;
    --border-width-sm: 1px;
    --border-width-md: 1.5px;
    --border-width-lg: 2px;
    --border-width-xs: 0.5px;
    --border-width-xl: 4px;
    --border-radius-xs: 0px;
    --border-radius-sm: 0px;
    --border-radius-md: 0px;
    --border-radius-xl: 0px;
    --border-radius-xxl: 0px;
    --border-radius-none: 0px;
    --border-radius-round: 120px;
    --border-radius-lg: 0px;
    --font-font-family-headings: "mencken-std-head-narrow", serif;
    --font-font-family-paragraph: "Open Sans", sans-serif;
    --font-font-family-sub-headings: "Open Sans", sans-serif;
    --font-font-weight-header-light: 300;
    --font-font-weight-header-regular: 400;
    --font-font-weight-header-medium: 500;
    --font-font-weight-header-semi-bold: 600;
    --font-font-weight-header-bold: 700;
    --font-font-weight-header-extra-bold: 800;
    --font-font-weight-paragraph-light: 300;
    --font-font-weight-paragraph-regular: 400;
    --font-font-weight-paragraph-medium: 500;
    --font-font-weight-paragraph-semi-bold: 600;
    --font-font-weight-paragraph-bold: 700;
    --font-font-weight-paragraph-extra-bold: 800;
}

/* Responsive Tokens */
:root {
    --res-desktop-line-height-body-sm: 19.6;
    --res-desktop-line-height-body-md: 22.4;
    --res-desktop-line-height-body-xs: 12;
    --res-desktop-line-height-body-micro: 11;
    --res-desktop-line-height-body-extra-micro: 10;
    --res-desktop-line-height-body-lg: 25.2;
    --res-desktop-line-height-heading-h1: 123.2;
    --res-desktop-line-height-heading-h2: 84;
    --res-desktop-line-height-heading-h3: 67.2;
    --res-desktop-line-height-heading-h4: 56;
    --res-desktop-line-height-heading-h5: 44.8;
    --res-desktop-line-height-heading-h6: 33.6;
    --res-desktop-line-height-heading-h7: 25.2;
    --res-desktop-line-height-action-sm: 14;
    --res-desktop-line-height-action-md: 17.6;
    --res-desktop-line-height-label-small: 17.5;
    --res-desktop-line-height-label-extra-small: 12;
    --res-desktop-line-height-label-micro: 11;
    --res-desktop-line-height-label-extra-micro: 10;
    --res-desktop-font-size-body-sm: 0.88rem;
    --res-desktop-font-size-body-md: 1rem;
    --res-desktop-font-size-body-xs: 0.75rem;
    --res-desktop-font-size-body-micro: 0.69rem;
    --res-desktop-font-size-body-lg: 1.13rem;
    --res-desktop-font-size-body-extra-micro: 0.63rem;
    --res-desktop-font-size-heading-h2: 3.75rem;
    --res-desktop-font-size-heading-h3: 3rem;
    --res-desktop-font-size-heading-h4: 2.5rem;
    --res-desktop-font-size-heading-h5: 2rem;
    --res-desktop-font-size-heading-h6: 1.5rem;
    --res-desktop-font-size-heading-h7: 1.13rem;
    --res-desktop-font-size-heading-h1: 5.5rem;
    --res-desktop-font-size-action-sm: 0.88rem;
    --res-desktop-font-size-action-md: 1rem;
    --res-desktop-spacing-3xs: 0.13rem;
    --res-desktop-spacing-sm: 0.75rem;
    --res-desktop-spacing-md: 1rem;
    --res-desktop-spacing-lg: 1.5rem;
    --res-desktop-spacing-xs: 0.5rem;
    --res-desktop-spacing-2xs: 0.25rem;
    --res-desktop-spacing-xl: 2rem;
    --res-desktop-spacing-2xl: 2.5rem;
    --res-desktop-spacing-4xl: 4rem;
    --res-desktop-spacing-3xl: 3rem;
    --res-desktop-spacing-grid-max-width: 90rem;
    --res-desktop-spacing-grid-screen-margin: 4rem;
    --res-desktop-spacing-grid-columns-all: 82rem;
    --res-desktop-spacing-grid-columns-2: 12.81rem;
    --res-desktop-spacing-grid-columns-3: 19.75rem;
    --res-desktop-spacing-grid-column-1: 5.94rem;
    --res-desktop-spacing-grid-columns-4: 26.69rem;
    --res-desktop-spacing-grid-columns-5: 33.56rem;
    --res-desktop-spacing-grid-columns-6: 40.5rem;
    --res-desktop-spacing-grid-columns-7: 47.44rem;
    --res-desktop-spacing-grid-columns-8: 54.31rem;
    --res-desktop-spacing-grid-columns-9: 61.25rem;
    --res-desktop-spacing-grid-columns-10: 68.19rem;
    --res-desktop-spacing-grid-columns-11: 75.06rem;
    --res-desktop-spacing-grid-vertical-margin-large: 3rem;
    --res-desktop-spacing-grid-vertical-margin-small: 2rem;
    --res-desktop-spacing-5xl: 5rem;
    --res-desktop-spacing-6xl: 6.25rem;
    --res-desktop-spacing-7xl: 7.5rem;
    --res-desktop-icon-xs: 0.75rem;
    --res-desktop-icon-sm: 1rem;
    --res-desktop-icon-md: 1.25rem;
    --res-desktop-icon-lg: 1.5rem;
    --res-desktop-icon-xl: 2rem;
    --res-desktop-icon-2xl: 2.5rem;
    --res-desktop-icon-3xl: 3rem;
    --res-mobile-line-height-body-sm: 13;
    --res-mobile-line-height-body-md: 16;
    --res-mobile-line-height-body-xs: 11;
    --res-mobile-line-height-body-micro: 10;
    --res-mobile-line-height-body-extra-micro: 10;
    --res-mobile-line-height-body-lg: 18;
    --res-mobile-line-height-heading-h1: 48;
    --res-mobile-line-height-heading-h2: 40;
    --res-mobile-line-height-heading-h3: 28;
    --res-mobile-line-height-heading-h4: 24;
    --res-mobile-line-height-heading-h5: 20;
    --res-mobile-line-height-heading-h6: 18;
    --res-mobile-line-height-heading-h7: 16;
    --res-mobile-line-height-action-sm: 12;
    --res-mobile-line-height-action-md: 14;
    --res-mobile-line-height-label-small: 14;
    --res-mobile-line-height-label-extra-small: 12;
    --res-mobile-line-height-label-micro: 11;
    --res-mobile-line-height-label-extra-micro: 10;
    --res-mobile-font-size-body-sm: 0.81rem;
    --res-mobile-font-size-body-md: 1rem;
    --res-mobile-font-size-body-xs: 0.69rem;
    --res-mobile-font-size-body-micro: 0.63rem;
    --res-mobile-font-size-body-lg: 1.13rem;
    --res-mobile-font-size-body-extra-micro: 0.63rem;
    --res-mobile-font-size-heading-h2: 2.5rem;
    --res-mobile-font-size-heading-h3: 1.75rem;
    --res-mobile-font-size-heading-h4: 1.5rem;
    --res-mobile-font-size-heading-h5: 1.25rem;
    --res-mobile-font-size-heading-h6: 1.13rem;
    --res-mobile-font-size-heading-h7: 1rem;
    --res-mobile-font-size-heading-h1: 3rem;
    --res-mobile-font-size-action-sm: 0.75rem;
    --res-mobile-font-size-action-md: 0.88rem;
    --res-mobile-spacing-3xs: 0.13rem;
    --res-mobile-spacing-sm: 0.75rem;
    --res-mobile-spacing-md: 0.75rem;
    --res-mobile-spacing-lg: 1rem;
    --res-mobile-spacing-xs: 0.5rem;
    --res-mobile-spacing-2xs: 0.25rem;
    --res-mobile-spacing-xl: 1.25rem;
    --res-mobile-spacing-2xl: 1.5rem;
    --res-mobile-spacing-4xl: 2.5rem;
    --res-mobile-spacing-3xl: 2rem;
    --res-mobile-spacing-grid-max-width: 23.44rem;
    --res-mobile-spacing-grid-screen-margin: 1.25rem;
    --res-mobile-spacing-grid-columns-all: 20.94rem;
    --res-mobile-spacing-grid-columns-2: 10.22rem;
    --res-mobile-spacing-grid-columns-3: 15.83rem;
    --res-mobile-spacing-grid-column-1: 4.61rem;
    --res-mobile-spacing-grid-columns-4: 21.44rem;
    --res-mobile-spacing-grid-columns-5: 21.44rem;
    --res-mobile-spacing-grid-columns-6: 21.44rem;
    --res-mobile-spacing-grid-columns-7: 21.44rem;
    --res-mobile-spacing-grid-columns-8: 21.44rem;
    --res-mobile-spacing-grid-columns-9: 21.44rem;
    --res-mobile-spacing-grid-columns-10: 21.44rem;
    --res-mobile-spacing-grid-columns-11: 21.44rem;
    --res-mobile-spacing-grid-vertical-margin-large: 3rem;
    --res-mobile-spacing-grid-vertical-margin-small: 2rem;
    --res-mobile-spacing-5xl: 3rem;
    --res-mobile-spacing-6xl: 5rem;
    --res-mobile-spacing-7xl: 5rem;
    --res-mobile-icon-xs: 0.75rem;
    --res-mobile-icon-sm: 0.75rem;
    --res-mobile-icon-md: 1rem;
    --res-mobile-icon-lg: 1.25rem;
    --res-mobile-icon-xl: 1.5rem;
    --res-mobile-icon-2xl: 2rem;
    --res-mobile-icon-3xl: 2.5rem;
}
